@media (max-width:1000px) {
     
/* START HEADER */
     
/* END HEADER */
     
     
     
/* START CONTENT */
     
/* END CONTENT */
     
     
/* START FOOTER */
footer {
     width: 100%;
    }
   .footer img {
     width: 120px;
   }
    .footer-list {
     padding-right:30px;
   }

/* END FOOTER */
}

@media (max-width:670px) {

/* START HEADER */
     
/* END HEADER */
     
     
     
/* START CONTENT */
     
/* END CONTENT */
     
     
     
/* START FOOTER */
    .footer img {
     width: 80px;
     
   }
   .footer-list li {
     font-size: 12px;
     padding-top:5px;
     padding-bottom: 5px;
  
   }
   .footer-list {
     padding-right:10px;
   }
/* END FOOTER */
}
