@media (max-width:1024px) {
     
/* START HEADER */
     
.header-right {
        display: none;
    }

    .menu-icon {
        display: block !important;
    }

    .top-wrapper h1 {
        font-size: 45px;
    }

    .top-wrapper h2 {
        font-size: 20px;
    }

    .top-wrapper p {
        font-size: 12px;
    }

    .top-wrapper h1:hover {
        font-size: 50px;
    }

    .top-wrapper h2:hover {
        font-size: 25px;
    }

    .img-top img {
        width: 200px;
    }

    .img-top img:hover {
        width: 230px;
    }

    .btn-page a,
    .btn-top a {
        font-size: 12px;
    }
/* END HEADER */
     
     
     
/* START CONTENT */
     
/* END CONTENT */
     
     
/* START FOOTER */
footer {
     width: 100%;
    }
   .footer img {
     width: 120px;
   }
    .footer-list {
     padding-right:30px;
   }

/* END FOOTER */
}

@media (max-width:670px) {

/* START HEADER */
.top-title {
        text-align: left;
    }

    .top-wrapper h1 {
        font-size: 45px;
    }

    .top-wrapper h2 {
        font-size: 35px;
    }

    .top-wrapper p {
        font-size: 20px;
    }

    .top-wrapper h1:hover {
        font-size: 45px;
    }

    .top-wrapper h2:hover {
        font-size: 35px;
    }

    .join {
        width: 100%;
        margin: 10px 5px;
    }

    .img-top img {
        width: 200px;
    }

    .img-top img:hover {
        width: 230px;
    }

    .btn-page a,
    .btn-top a,
    .join h2 {
        font-size: 20px;
    }

    .top-wrapper h1,
    h2,
    p {
        margin: 3px 0;
    }
/* END HEADER */
     
     
     
/* START CONTENT */
     
/* END CONTENT */
     
     
     
/* START FOOTER */
    .footer img {
     width: 80px;
     
   }
   .footer-list li {
     font-size: 12px;
     padding-top:5px;
     padding-bottom: 5px;
  
   }
   .footer-list {
     padding-right:10px;
   }
/* END FOOTER */
}
